.footer {
  width: 100%;
  background: #171717;
}
.footer-container {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 15px;
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      display: flex;
      align-items: center;
      margin-right: 30px;
      & img {
        width: 47.82px;
        margin-right: 25px;
      }
      & p {
        font-family: 'Pulsar', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        color: #ECECEC;
      }
    }
    &__allright {
      font-family: 'Pulsar', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      color: #ECECEC;
      text-transform: uppercase;
      margin-right: 20px;
    }
    &__design {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 96px;
      & p {
        font-family: 'Pulsar', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 11px;
        color: #838383;
        text-transform: uppercase;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    & > p {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 12px;
      line-height: 117%;
      color: #FFFFFF;
      margin-right: 51px;
      cursor: pointer;
      &:hover {
        transform: scale(1.03);
        text-decoration: underline;
      }
    }
    &__contacts-hidden {
      display: none;
    }
    &__icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 71px;
      & li {
        cursor: pointer;
        &:hover {
        transform: scale(1.15);
      }
      }
    }
  }
}

@media (max-width: $desktop) {
  .footer-container {
    min-height: 280px;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 85px 15px;
    &__left {
      flex-direction: column;
      &__logo {
        margin-right: 0;
        margin-bottom: 20px;
      }
      &__allright {
        margin-right: 0;
        margin-bottom: 21px;
      }
    }
    &__right {
      flex-direction: column-reverse;
      margin-bottom: 34px;
      & > p {
        margin-right: 0;
        margin-bottom: 22px;
      }
      &__contacts-hidden {
        display: block;
      }
      &__icons {
        margin-bottom: 30px;
      }
    }
  }
}