.game {
  width: 100%;
}
.game-block {
  box-sizing: content-box;
  padding: 87px 49px 80px 41px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__top {
    &__subtitle-group {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
      div {
        @include line;
      }
      p {
        @include subtitle;
      }
    }
    &__title {
      @include title;
      margin-bottom: 90px;
    }
  }
  &__icons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__images {
      width: 89%;
      margin-bottom: 12px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        width: 73px;
        height: 0;
        border-bottom: 1px solid #50AFCD;
      }
      img {
        width: 64px;
      }
    }
    &__links {
      display: flex;
      text-align: center;
      justify-content: space-between;
      p {
        @include text;
        cursor: pointer;
        transition: all 1s ease;
        &:not(:last-child) {
          margin-right: 70px;
        }
        &:hover {
          text-decoration: underline;
          color: #50AFCD;
        }
      }
    }
  }
  &__icons-mobile {
    display: none;
  }
  &__btn {
    margin-top: 90px;
    @include button-link;
  }
}

@media (max-width: $tablet) {
  .game-block {
    padding: 50px 15px 50px;
  }
  .game-block__icons__images {
    margin-left: 0;
    & div {
      width: 50px;
    }
  }
  .game-block__icons__links p {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

@media (max-width: $mobile) {
  .game-block__icons {
    display: none;
    }
  .game-block__icons-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 85px;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130px;
        text-align: center;
        & p {
          @include text;
          cursor: pointer;
          transition: all 1s ease;
          &:not(:last-child) {
            margin-right: 70px;
          }
          &:hover {
            text-decoration: underline;
            color: #50AFCD;
          }
        }
        & img {
          width: 64px;
        }
      }
      &__line {
        width: 58px;
        height: 0;
        border-bottom: 1px solid #50AFCD;
      }
    }
    &__second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130px;
        text-align: center;
        & p {
          @include text;
          cursor: pointer;
          transition: all 1s ease;
          &:not(:last-child) {
            margin-right: 70px;
          }
          &:hover {
            text-decoration: underline;
            color: #50AFCD;
          }
        }
        & img {
          width: 64px;
        }
      }
      &__line {
        width: 58px;
        height: 0;
        border-bottom: 1px solid #50AFCD;
      }
    }
    &__separator {
      width: 150px;
      height: 0;
      border-bottom: 1px solid #50AFCD;
      position: relative;
      bottom: 170px;
      left: 90px;
      transform: rotate(-35deg);
    }
  }
}