@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-5px);
  }
}

.main-container {
  max-width: 1330px;
  min-height: 777px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main {
  width: 100%;
  margin-bottom: 98px;
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 20;
    min-height: 225px;
    margin-top: 220px;
    &__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
    &__main-title {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: 400;
      font-size: 48px;
      line-height: 48px;
      color: #FFFFFF;
      margin-bottom: 97px;
    }
    &__btn {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      & img {
        width: 250px;
      }
      &:after {
        content: "UPGRADE";
        position: absolute;
        color: #000000;
        font-family: 'Aire Exterior', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        left: 80px;
        top: 20px;
      }
      &:hover {
        animation: bounce 1s;
      }
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top: 0;
    left: 0;
    box-shadow: 0 0 29px 30px rgba(82, 125, 139, 0.25);
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 0.5px solid #57D6FF;
      border-radius: 15px;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top:0;
      background-color: rgba(0,0,0,0.2);
    }
  }
}

@media (max-width: 480px) {
  .main {
    margin-bottom: 80px;
  }
  .main-container {
    padding: 0 54px;
  }
  .main__title {
    align-items: flex-start;
    margin-top: 180px;
    min-height: 193px;
    text-align: start;
    &__subtitle {
      width: 150px;
      margin-bottom: 11px;
    }
    &__main-title {
      margin-bottom: 137px;
    }
    &__btn {
      align-self: center;
    }
  }
}