.server {
  width: 100%;
}
.server-block {
  box-sizing: content-box;
  padding: 42px 60px 0 30px;
  min-height: 517px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  &__image {
  max-width: 665px;
  }
  &__content {
    max-width: 540px;
    padding-left: 67px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__subtitle-group {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
      div {
        @include line;
      }
      p {
        @include subtitle;
      }
    }
    &__title {
      @include title;
      margin-bottom: 60px;
    }
    &__text {
      @include text;
    }
    &__separator {
      margin-top: 27px;
      margin-bottom: 22px;
      width: 271px;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    }
    &__imageNO {
      display: none;
    }
    &__btn {
      margin-top: 74px;
      @include button-link;
    }
  }
}

@media (max-width: $desktop-large) {
  .server-block {
    padding: 0 30px;
    &__image {
      min-width: 400px;
    }
    &__content {
      max-width: 540px;
      padding-left: 30px;
    }
  }
}

@media (max-width: $tablet) {
  .server-block {
    padding: 0 15px;
    width: auto;
    flex-direction: column;
    &__image {
      display: none;
    }
    &__content {
      padding: 0;
      max-width: fit-content;
      &__subtitle-group {
        align-self: center;
        margin-bottom: 17px;
        }
      &__title {
        margin-bottom: 60px;
      }
      &__separator {
        display: none;
      }
      &__imageNO {
        display: block;
        padding: 100px 0 50px;
      }
      &__btn {
        align-self: center;
        margin-top: 85px;
      }
    }
  }
}

