/*
$white: #ffffff;
$black: #000000;

подчеркивание у ссылок nav
ссылка-кнопка "загрузить"
разделитель в секции тарифов
#00C5FF

border у картинки
логотип
subtitle-group
#57D6FF

текст
#ABABAB

lines in section start-game
#50AFCD
text in section start-game
#F1F1F1

тарифы(подписки):
#1F2631 (фон) + #00C5FF (кнопка) + #141C24(текст кнопки)
#00C5FF + #141C24 + #F1F8FF

#141C24 градиент в секции карты
background: linear-gradient(224.45deg, #141C24 34.56%, rgba(20, 28, 36, 0) 77.07%);

#171717 фон подвала
#ECECEC логотип подвала
#838383 текст подв
 */
