@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Yanone+Kaffeesatz:wght@600&display=swap&subset=cyrillic-ext');

@font-face {
  font-family: 'Aire Exterior';
  src: url('fonts/aireexterior.woff2');
  src: url('fonts/aireexterior.woff') format('woff');
  src: url("fonts/aireexterior.woff2") format('woff2');
}

@font-face {
  font-family: 'Pulsar';
  src: url("fonts/pulsar.otf");
  src: url("fonts/pulsar.woff") format('woff');
  src: url("fonts/pulsar.woff2") format('woff2');
}

